<launch>

  <include file="$(find turtlebot3_bringup)/launch/includes/agv_description.launch.xml">
  </include>

  <!--<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <remap from="/joint_states" to="/cobot/joint_states" />
  </node>-->
</launch>
