<?xml version='1.0' encoding='utf-8'?>

<launch>

  <include file="$(find auto_demo)/launch/amcl_bringup/robot_xdu_nav.launch"/>
  <!--打开语音唤醒-->
  <include file="$(find castlex_awake)/launch/castlex_awake.launch"/>
  <!--打开命令词识别-->
  <node pkg = "castlex_voice_system" type = "robot_xdu_node" name = "robot_xdu_node" output="screen"/>
  <!--打开命令词解析-->
  <node pkg = "castlex_voice_system" type = "robot_xdu.py" name = "XML_Analysis" output="screen">
    <param name="file_path" value="$(find castlex_voice_system)/params/robot_xdu.xml" />
    <param name="failed_file_path" value="$(find castlex_voice_system)/params/voice/failed.mp3" />
    <param name="Received_file_path" value="$(find castlex_voice_system)/params/voice/Received.mp3" />
    <param name="ReEnterAuido_file_path" value="$(find castlex_voice_system)/params/voice/ReEnterAuido.mp3" />
  </node>

  <node pkg = "auto_demo" type = "castlex_xdu.py" name = "castlex_xdu" output="screen" />
  <node pkg = "auto_demo" type = "castlex_xdu_flag.py" name = "castlex_xdu_flag" output="screen" />

</launch>
