<?xml version='1.0' encoding='utf-8'?>

<launch>

<include file="$(find auto_demo)/launch/amcl_bringup/castlex_nav.launch"/>

<include file="$(find castlex_battery)/launch/battery_manager.launch"/>

<node pkg = "auto_demo" type = "patrol_castlex.py" name = "patrol_castlex" output="screen" />

</launch>
